.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 40px;
   
}

.input {
    border-radius: 6px;
    padding: 8px 16px;
    border: 1px solid var(--border-border-border, #E4E4E7);
    width: 280px;
}

.btn {
    border-radius: 6px;
    padding: 8px 16px;
    background-color: #3C82F6;
    gap: 10px;
    width: 59px;
    color: white;
    border: transparent;
    cursor: pointer;
}

.btn:hover {
    color: #3C82F6;
    background-color: white;
    border: 1px solid #3C82F6;
}

.btn:active {
    background-color: #3C82F6;
    color: white;
    border: none;
}
